# Xcode
*.xcuserdata
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.mode1v3
*.mode2v3
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.xccheckout
*.xcscmblueprint

# OS
.DS_Store
Thumbs.db
*.swp
*.bak

# Swift
.derivedData
*.swiftpm
Package.resolved
